{% import '@util/formmacro.twig' as f %}

    <table class="table table-striped">
        <tbody>
            <tr><td>Text</td><td>{{f.editable({type: 'text', name: 'test', msg: 'Edit test', id: 6, value: 'This is a test', class: 'editable'})}}</td></tr>
            <tr><td>Empty Text</td><td>{{f.inline({type: 'text', name: 'empty', msg: 'Edit empty', id: 6, value: '', class: 'editable'})}}</td></tr>
            <tr><td>Textarea</td><td>{{f.inline({type: 'textarea', name: 'tarea', msg: 'Edit tarea', id: 6, value: 'this is a value', class: 'editable'})}}</td></tr>
            <tr><td>Select</td><td>{{f.inline({type: 'select', name: 'tsel', msg: 'Make a selection', id: 6, value: 'yes', values: ['yes', 'no', 'N/A'], class:'editable')}}</td></tr>
        </tbody>
    </table>