{% import '@util/modalmacro.twig' as m %}

    <p>{{m.invoke('modald', 'Modal Pop-up')}}</p>
    <p><button class="btn btn-lg btn-warning" id="testalert">Alert</button></p>
    <p><button class="btn btn-lg btn-warning" id="testalert2">Alert 2</button></p>
    <p><button class="btn btn-lg btn-info" id="testconfirm">Confirm</button></p>
