{% set usebootstrapcss = TRUE %}
{% set usebootstrapjs = TRUE %}

{% extends '@content/page.twig' %}

{% import "@content/iconmacro.twig" as i %}

{% block header %}
    <section class="ml-auto col-md-8 mr-auto mt-5">
        <h1 class="text-center">Access denied!</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <div class="ml-auto col-md-8 mr-auto text-center">
            <div class="jumbotron">
                Sorry, you do not have permission to do that.
            </div>
            <p><a href="{{base}}/" class="btn btn-primary">{{i.fa('home')}} Home Page</a></p>
	</div>
    </section>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
