{% set usebootstrapcss = TRUE %}
{% set usebootstrapjs = TRUE %}

{% extends '@content/page.twig' %}

{% block header %}
    <section class="ml-auto col-md-8 mr-auto mt-5">
        <h1>Access denied!</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <div class="ml-auto col-md-8 mr-auto">
            <div class="jumbotron">
                Sorry, you do not have permission to do that.
            </div>
            <p><a href="{{base}}/">Return to home page</a></p>
	</div>
    </section>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
