{% set usebootstrapcss = TRUE %}
{% set usebootstrapjs = TRUE %}

{% extends '@content/page.twig' %}

{% block header %}
    <div class="ml-auto col-md-8 mr-auto mt-5">
        <h1 class="text-center">Page not found!</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row mt-4">
        <article class="ml-auto col-md-8 mr-auto">
            <div class="jumbotron">
                Sorry, there is no such page as "{{page}}".
            </div>
            <p class="text-center"><a href="{{base}}/" class="btn btn-primary">Home Page</a></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
