{% set usebootstrapcss = TRUE %}
{% set usebootstrapjs = TRUE %}

{% extends '@content/page.twig' %}

{% block header %}
    <div class="ml-auto col-md-8 mr-auto mt-5">
	<h1>Page not found!</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            <div class="jumbotron">
                Sorry, there is no such page as "{{page}}".
            </div>
            <p><a href="{{base}}/">Return to home page</a></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
