{% set usebootstrapcss = TRUE %}
{% set usebootstrapjs = TRUE %}

{% extends '@content/page.twig' %}

{% block header %}
    <section class="ml-auto col-md-8 mr-auto mt-5">
        <h1>Internal Error</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-lg mr-auto">
            <div class="jumbotron">
                {{errdata|raw}}
            </div>
            <p><a href="{{base}}/">Return to home page</a></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
