{% extends '@vueutil/page.twig' %}

{% block favicons %}
    {% include '@content/favicons.twig' %}
{% endblock favicons %}

{% block head %}
    {% block links %}
    {% endblock links %}

    {% block type %}
    {% endblock type %}

    {% block css %}
    {% endblock css %}
{% endblock head %}

{% block body %}
    {% block navigation %}
	{% include '@surround/navbar.twig' %}
    {% endblock navigation %}

    <div class="container">
        {% block pageheader %}
            <header class="row">
            {% block header %}
                {% include '@surround/header.twig' %}
            {% endblock header %}
            </header>
        {% endblock pageheader %}

        {% block main %}
        {% endblock main %}

        {% block pagefooter %}
            <footer class="row">
            {% block footer %}
                {% include '@surround/footer.twig' %}
            {% endblock footer %}
            </footer>
        {% endblock pagefooter %}
    </div>
{% endblock body %}

{% block userscripts %}
    {% block scripts %}
    {% endblock scripts %}
{% endblock userscripts %}