{% extends '@content/page.twig' %}

{% block header %}
    <div class="col-md-12 mt-5">
        <h1>Built with The Framework</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-9 mr-auto">
            <p class="cntr">Information about the Framework is available at <a href="http://catless.ncl.ac.uk/framework">http://catless.ncl.ac.uk/framework</a></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
