{% set noajax = TRUE %}
{% extends '@content/page.twig' %}

{% block header %}
    <div class="col-md-12 mt-5">
        <h1>The Framework</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="offset-md-1 col">
                The Framework provides a simple way of building database-driven, RESTful websites in PHP. Where possible it builds on
                existing tools such as Bootstrap, RedBean and Twig, and it strives to avoid the complexities and over-provisions of
                other frameworks. It gives you some boilerplate basics (e.g. logins and registrations) and a robust framework for building
                what you need. What it does not try to do is give you absolutely everything that you could possibly ever need, nor does it
                try to abstract away things like data handling. You do have to be able to program to use the framework&hellip;
            </p>
            <p>
                One of the primary aims of the framework is to act as a teaching aid as well as a development tool. As such it contains examples
                of different approaches to implementing the same functionality. It also has simple examples of using many of the newer, more
                advanced features of PHP such as traits and generators.
            </p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
