{% set schema = 'itemscope="" itemtype="http://schema.org/AboutPage"' %}
{% set breadcrumbs = [{link: base, text: 'Home'}, {text: 'About'}] %}
{% set usebootbox = FALSE %}
{% set usejquery = FALSE %}

{% extends '@content/page.twig' %}

{% block headerbody %}
    <h1>Built with The Framework</h1>
{% endblock headerbody %}

{% block main %}
    <section class="row">
        <article class="mx-auto col">
            <p class="text-center">Information about the Framework is available at <a href="http://catless.ncl.ac.uk/framework">http://catless.ncl.ac.uk/framework</a></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
