{% extends '@util/page.twig' %}

{% block header %}
    <section class="col-md-12">
	<h1>View Form "{{form.name}}"</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10 mr-auto">
            <p>Not implemented yet.</p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
