    {%if errmessage is defined %}
        {% for msg in _fwerrmessage %}
            <div class="alert alert-danger">{{eraw is defined ? msg|raw : msg}}</div>
        {% endfor %}
    {% endif %}
    {%if warnmessage is defined %}
        {% for msg in _fwwarnmessage %}
            <div class="alert alert-warn">{{wraw is defined ? msg|raw : msg}}</div>
        {% endfor %}
    {% endif %}
    {%if message is defined %}
        {% for msg in _fwmessage %}
            <div class="alert alert-info">{{mraw is defined ? msg|raw : msg}}</div>
        {% endfor %}
    {% endif %}
