{% extends '@content/page.twig' %}

{% block header %}
    <section class="col-md-4 mr-auto">
        <h1>Oooops!</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-8 mr-auto">
            <p>You cannot run the installer after a successful installation!</p>
            <p>Go <a href="{{base}}/">home</a></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
