{% extends '@content/page.twig' %}

{% import '@util/attrmacro.twig' as h %}

{% block scripts %}
    <script {{h.urlattr(fwurls.parsley)}}></script>
{% endblock scripts %}

{% block onload %}
    $('#pwform').parsley()
{% endblock onload %}

{% block pageheader %}
{% endblock pageheader %}

{% block main %}
    <section class="row" id="frontpage">
        <article class="ml-auto col-md-6 mr-auto mt-5">
            {% include '@util/message.twig' %}
            <form action="{{base}}/forgot/reset" method="post" class="well">
                <input type="hidden" value="{{pwuser.getID}}" name="uid"/>
                <input type="hidden" value="{{code}}" name="code"/>
                <fieldset>
                    <legend>Set Your New Password</legend>
                    <div class="form-group">
                        <label for="pw" class="control-label">Password</label>
                        <input type="password" id="pw" name="password" placeholder="***********" class="form-control" required="required  data-parsley-equalto="#rpw""/>
                    </div>
                    <div class="form-group">
                        <label for="rpw" class="control-label">Repeat Password</label>
                        <input type="password" id="rpw" name="repeat" placeholder="***********" class="form-control" required="required"
                            data-parsley-trigger="change" data-parsley-equalto="#pw"/>
                    </div>
                    <button class="btn btn-primary btn-sm" type="submit">Set</button>
                </fieldset>
            </form>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
