{% extends '@content/page.twig' %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Update the Framework</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10 mr-auto">
            {% include '@util/message.twig' %}
            <h2>Latest version is Framework {{version}}</h2>
            {% if not older %}
                <p>You have the latest code version</p>
            {% else %}
                <p>You have version {{current}} - please do a <i>git pull</i> to get the latest version</p>
            {% endif %}
            {% for key,val in updated %}
                <p>"{{key}}" {% if done %}will be {% endif %}updated to "{{val}}"</p>
            {% else %}
                <p>No support software link updates</p>
            {%endfor %}
            {% if not done %}
                <p><a class="btn btn-primary" href="?update=1">Update</a></p>
            {% endif %}
         </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
