{% extends 'page.twig' %}

{% import 'form.twig' as f %}

{% block scripts %}
    <script src="{{fwurls.parsley}}"></script>
{% endblock scripts %}

{% block header %}
    <section class="col-md-12">
        ยง<h1>Update the Framework</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10 mr-auto">
            <h2>Latest version is Framework {{version}}</h2>
            {% if current == version %}
                <p>You are up to date</p>
            {% else %}
                <p>You have version {{current}}</p>
                {% if nozip %}
                    <p>Your PHP needs to be built with support for the <a href="http://php.net/manual/en/book.zip.php">zip interface</a> for this feature to work.</p>
                {% else %}
                    {% include 'message.twig' %}
                    <form action="#" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <legend>Update File</legend>
                            {{f.file({ label: 'Update ZIP', id: 'upd', name: 'update'})}}
                        </fieldset>
                        <button class="btn btn-primary btn-lg" type="submit">Update</button>
                    </form>
                {% endif %}
            {% endif %}
         </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
