{% extends 'page.twig' %}

{% block header %}
    <section class="col-md-12">
	<h1>View Form "{{form.name}}"</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="col-md-offset-1 col-md-10">
	    <p>Not implemented yet.</p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
