body {
    font-family: sans-serif;
    background-color:   #fff;
}

.delb, .noconfirm {
    color:              red;
}

.actb,.admb,.editb,.delb,.devb,.reqb,.rdob,.disb {
    cursor:             pointer;
}

.fadis {
    color:              #aaa
}

.notvalid {
    background-color:   #ddd
}