body {
    font-family: sans-serif;
    background-color:   #fff;
}

.cntr {
    text-align:         center;
}

.delb, .noconfirm {
    color:              red;
}

.actb,.admb,.editb,.delb,.devb,.reqb,.rdob,.disb {
    cursor:             pointer;
}
