.edno {
    color: red;
    padding : 0 0.5rem;
    cursor: pointer;
}

.edyes {
    color: green;
    padding : 0 0.5rem;
    cursor: pointer;
}

.editable:hover {
   text-decoration: underline dotted blue;
}
.edempty {
    color: red;
    text-decoration: underline solid blue;
}
