<!doctype html>
<head>
    <meta charset="utf-8"/>

    <title>{% block title %}{{fwurls.sitename.value|upper}}{% endblock title %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    {% import '@util/attrmacro.twig' as h %}

    {% block favicons %}
    {% endblock favicons %}

</head>
<body>
        <script {{h.urlattr(fwurls.vuejs)}}></script>
</body>