{% extends 'page.twig' %}

{% block main %}
    <div class="row">
        <div class="ml-auto col-md-8 mr-auto mt-5">
	    <div class="jumbotron">
		<h1>Installed Sucessfully on {{siteurl}}</h1>
		<p>
		    Now cd to {{dir}} and run "afterinstall.sh" or remove the directory 'install' and the file
		    'install.php'. Remember to remove any extra write
		    permission for the webserver from the '.', 'assets' and 'class/config'
		    directories if you granted these for the installation.
		</p>
                <p>You can now <a href="{{base}}/admin">login as the site administrator</a>.</p>
	    </div>
	</div>
    </div>
{% endblock main %}
