{% extends 'page.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-offset2 col-md-8">
	    <div class="well">
		<h1>Installed Sucessfully</h1>
		<p>
		    Now cd to {{dir}} and remove the directory 'install' and the file
		    'install.php'. Remember to remove any extra write
		    permission for the webserver from the '.' and 'class'
		    directories if you granted these for the installer.
		</p>
                <p>You can now <a href="admin">login as the site administrator</a>.</p>
	    </div>
	</div>
    </div>
{% endblock main %}
