{% extends 'page.twig' %}

{% block main %}
    <div class="row">
        <div class="ml-auto col-md-8 mr-auto mt-5">
	    <div class="jumbotron">
		<h1>Setup Sucessfully on {{siteurl}}</h1>
                <p>You can now <a href="{{base}}/admin">login as the site administrator</a>.</p>
	    </div>
	</div>
    </div>
{% endblock main %}
