{% extends '@content/page.twig' %}

{% block headerbody %}
    <h1 class="center-block">A static twig page with a multi-part URL</h1>
{% endblock headerbody %}

{% block main %}
    <section class="row">
        <article class="mx-auto col">
            <p>Content&hellip;</p></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
