{% extends '@content/page.twig' %}

{% block header %}
    <section class="col-md-12">
        <h1 class="center-block">A static twig page with a multi-part URL</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-9 mr-auto">
            <p>Content&hellip;</p></p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
