{% extends '@content/page.twig' %}

{% block headerblock %}
    <h1 class="text-center">Setup Ajax</h1>
{% endblock headerblock %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10 mb-5">
            {% include '@util/message.twig' %}
            <p>Coming Soon</p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
