{% extends '@content/page.twig' %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Setup Ajax</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10 mb-5">
            {% include '@util/message.twig' %}
            <p>Coming Soon</p>
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
