{% extends '@content/page.twig' %}

{% import '@content/iconmacro.twig' as icon %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Setup CSP</h1>
    </section>
{% endblock header %}

{% block main %}
    {% for type, hosts in context.web.getCSP %}
        <section class="row mb-2">
            <article class="ml-auto col-md-2 ">
                <p class="text-center">{{type}}</p>
            </article>
            <article class="col-md-8 mr-auto" data>
                <table class="table w-100">
                    <tbody>
                        {% for h in hosts %}
                            <tr data-id="{{h.getID}}">
                                <td class="w-50">{{h}}</td>
                                <td class="w-50 text-center">{{icon.delete('delb')}}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </article>
        </section>
    {% endfor %}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
