{% extends '@content/page.twig' %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Developer tools</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10">
            {% include '@util/message.twig' %}
            {% if errlog is defined %}
                <pre>
                    {% if raw %}
                        {{errlog|raw}}
                    {% else %}
                        {{errlog}}
                    {% endif %}
                </pre>
            {% else %}
                <p>Select a developer action from the navigation bar.</p>
            {% endif %}
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
