{% set breadcrumbs = [{link: base~'/devel', text: 'Developer'}, {text: 'Test Page'}] %}
{% set title = 'The Framework: Test Page' %}
{% set keywords = 'framework, test' %}
{% set description = 'A page that tests various features of the Framework' %}
{% set fwdom = TRUE %}
{# set usejquery = FALSE #}

{% extends '@content/page.twig' %}

{% import '@util/accmacro.twig' as a %}
{% import '@util/formmacro.twig' as f %}

{% block css %}
    <link rel="stylesheet" href="{{assets}}/css/inline.min.css"/>
{% endblock css %}

{% block scripts %}
    <script src="{{assets}}/js/fw-editable.js"></script>
{% endblock scripts %}

{% block onload %}
    document.getElementById('nopu').addEventListener('click', function(e){
        fwdom.toggleClass([this], ['btn-primary', 'btn-warning']);
    });
    fwdom.on('.clkclose', 'click', function(e){ this.style.display = 'none'; });
    for (let d of document.getElementsByClassName('editable'))
    {
        fwdom.editable(d);
    }
    fwdom.editable(document.getElementById('edsel', {
        type: 'select',
        source: ['yes', 'no', 'N/A']
    });
{% endblock onload %}

{% block headerbody %}
    <h1 class="text-center">Test Developer Tools and Macros</h1>
{% endblock headerbody %}

{% block main %}
    <section class="row">
        <article class="mx-auto col-md-10 my-5">
            {{a.accordion('acc1', [
                {id: 'inline', title: 'Inline Edit', file: '@devel/tests/inlineedit.twig' },
                {id: 'form0', title: 'Messaging', file: '@util/message.twig', with: {fwerrmessage: fwerrmessage, fwwarnmessage: fwwarnmessage, fwmessage: fwmessage} },
                {id: 'form1', title: 'Form Text Macros', file: '@devel/tests/formtext.twig'},
                {id: 'form2', title: 'Form Other Macros', file: '@devel/tests/formother.twig'},
                {id: 'modal', title: 'Modals', file: '@devel/tests/modal.twig'},
            ], TRUE)}}
        </article>
    </section>
    {% include '@devel/tests/modalbody.twig' %}
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
