{% extends '@content/page.twig' %}

{% import '@util/formmacro.twig' as f %}
{% import '@util/modalmacro.twig' as m %}

{% block header %}
    <section class="col-md-12 mt-5">
        <h1>Test File Upload and Download</h1>
    </section>
{% endblock header %}

{% block main %}
    <section class="row">
        <article class="ml-auto col-md-10 mr-auto">
            {{f.startform({method: 'post', multi: TRUE})}}
                {{f.file({id: 'f0', name: 'upload', label: 'File'})}}
            {{f.endform()}}
        </article>
    </section>
{% endblock main %}

{% block pagefooter %}
{% endblock pagefooter %}
