{% extends 'page.twig' %}

{% block header %}
    <div class="ml-auto col-md-8 mr-auto">
	<h1>Access denied!</h1>
    </div>
{% endblock header %}

{% block main %}
    <section class="row">
        <div class="ml-auto col-md-8 mr-auto">
            <div class="well">
                Sorry, you do not have permission to do that.
            </div>
            <p><a href="{{base}}/">Return to home page</a></p>
	</div>
    </section>
{% endblock main %}

{% block pagefooter %}
{# I don't want a footer #}
{% endblock pagefooter %}
